# Node (frontend)
/node_modules/
/.next/
/.env
/.env.local
/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (backend)
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
.env.*
*.sqlite3

# OS
.DS_Store
Thumbs.db

# General
*.log
*.bak
*.swp

# VSCode
.vscode/ 